.my-courses {
    width: 100%;
    padding: 50px 50px;
    font-size: 14px;
    background-color: #141b2b;

    .my-courses-header{
        color: white;
        font-size: 28px;
        font-weight: bold;
    }
    .my-courses-list{
        width: 100%;
        gap: 10%;
        display: flex;
        flex-wrap: wrap;
        .my-courses-item{
            flex-direction: column;
            background-color: rgb(12, 18, 20);
            cursor: pointer;
            border-radius: 15px;
            color: white;
            width: 40%;
            margin: 3% 0;
            height: 500px;
            align-items: center;
    
            .my-courses-image{
               
                display: flex;
                justify-content: center;
                img{
                    border-radius: 10px 10px 10px 10px;
                    width: 80%;    
                }
                
            }
    
            .my-courses-name{
                font-weight: bold;
                font-size: 18px;
                padding: 10% 5% 5% 10%;
            }
            
            .my-courses-item:hover{
                background-color: rgb(19, 24, 39);
            }
            .my-courses-desc{
                width: 80%;
                padding: 5% 5% 5% 10%;
            }
            .my-courses-teacher {
                color: rgb(180, 180, 180);
                width: 80%;
                padding: 0% 5% 5% 10%;
                font-size: 12px;
                font-style: italic;
            }
            .my-courses-rate{
                font-size: 12px;
                padding: 0% 5% 5% 10%;
            }
    }
    
    }
    
}