.current-course-container {
    padding: 5% 5% 5% 5%;
    font-family: 'Lato';
    width: 90%;
    height: 100vh;
    background-color: #141b2b;

    .current-course{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        
        .current-course-image{
            display: flex;
            width: 50%;
            img{
                border-radius: 25px;
                width: 90%;
                height: 100%;
            }
        }
        .current-course-info{
            display: grid;
            width: 40%;
            .current-course-author{
                padding-top: 5%;
                .current-course-author-span{
                    font-style: italic;
                }
            }
            
            .current-course-rate{
                align-items: center;
                padding-top: 10%;
                display: flex;
                font-weight: bold;
                color: orange;
                div {
                    padding-left: 10%;
                }
            }
            .current-course-title {
                margin-top: 2%;
                font-size: 28px;
                font-weight: bold;
            }
            .current-course-price{
                display: flex;
                align-items: center;
                font-size: 24px;
                padding-top: 10%;

                .current-course-btn{
                    padding-left: 10%;
                }
    
                .current-course-price-span{
                    font-weight: bold;
                }
            }
            
        }
        .current-course-desc{
            width: 100%;
            font-size: 16px;
            padding-top: 3%;
            padding-bottom: 3%;

            .current-course-desc-title {
                font-weight: bold;
                font-size: 22px;
                padding-bottom: 2%;
            }
            
            .current-course-desc-content{
                width: 60%;
            }
        }
        .current-course-content{
            height: 100%;
            .current-course-content-title{
                font-weight: bold;
                font-size: 22px;
                padding-bottom: 2%;
            } 
        }
        
    }

    
}
@media screen and (min-width: 240px) and (max-width: 425px) {
    .current-course-container{
        .current-course{
            display: grid;
            .current-course-image{
                justify-content: center;
                width: 100%;
            }
            .current-course-info{
                justify-content: center;
                width: 100%;
                .current-course-rate{
                    .curremt-course-wishlist{
                        padding: 0;
                        .wishlist-add{
                            padding: 0;
                        }
                    }
                }
                .current-course-price{
                    .current-course-btn{
                        padding: 0;
                    }
                }
                .current-course-price{
                    font-size: 22px;
                }
                
            }
            .current-course-desc{
                width: 100%;
                display: grid;
                justify-content: center;
                .current-course-desc-content{
                    width: 100%;
                }
            }
        }
    }
}