.courses{
    display: flex;
    flex-wrap: wrap;
    background-color: #141b2b;
}
@media screen and (min-width: 240px) and (max-width: 320px) {
    .courses {
        .courses-item{
            width: 100%;
        }
    }
    
}