.wishlist-add-btn{
    cursor: pointer;
    background-color: #FFB000;
    border: 0;
    padding: 10px 25px;
    border-radius: 20px;
}
.wishlist-add-btn:hover{
    background-color: rgb(255, 145, 0);
}
.wishlist-add-btn:active{
    background-color: rgb(224, 127, 0);
}