.cart {
    background-color: #141b2b;
    min-height: 100vh;
    .cart-title{
        font-size: 26px;
        font-weight: bold;
        font-family: "Lato";
        text-transform: uppercase;
        padding: 4%;
    }

    .cart-content{
        display: flex;
        width: 100%;

        .cart-content-items{
            display: grid;
            gap: 4%;
            width: 60%;
            margin-left: 4%;
            height: 100%;
        }
        .cart-content-total-amount{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 30%;
            height: 51vh;
            border-radius: 20px;
            background-color: rgb(12, 18, 20);

            .cart-content-total-text{
                font-size: 26px;
            }
            .cart-content-total-price{
                padding-top: 20%;
                font-family: "Lato";
                font-weight: bold;
                font-size: 36px;
            }
            .cart-content-total-checkout{
                padding-top: 20%;
            }
        }
    }
    .cart-content-empty{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 36px;
        font-weight: bold;
        height: 50vh;
    }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
    .cart{
        .cart-content{
            flex-direction: column;
    
            .cart-content-items{
                width: 100%;
                margin-bottom: 25px;
                .cart-content-item{
                    display: grid;
                    height: 100%;
                    margin-bottom: 20px;
                    justify-items: center;
                    .content-item-image{
                        display: flex;
                        justify-content: center;
                        width: 90%;
                    }
                    .content-item-info{
                        width: 90%;
                        height: 100%;
                        .content-item-title{
                            height: 100%;
                        }
                        .content-item-author{
                            padding: 0;
                        }
                        .content-item-desc{
                            display: none;
                        }
                    }
                    .content-item-price{
                        margin-top: 10px;
                        width: 85%;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        padding: 0 5% 0 5%;
                    }
                }
            }
            .cart-content-total-amount{
                margin-top: 5%;
                width: 94%;
                height: 100%;
                margin-left: 4%;
                .cart-content-total-text{
                    padding-top: 10px;
                    font-size: 20px;
                }
                .cart-content-total-price{
                    padding: 10px 0 10px 0;
                    font-size: 22px;
                }
                .cart-content-total-checkout{
                    padding: 0;
                    padding-bottom: 20px;
                }
            }
        }
    }
    
}