.input{
    background-color: #FFB000;
    font-size: 14px;
    color: black;
    font-style: italic;
    border-radius: 10px;
    border: none;
    padding-left: 2.5%;
    height: 30px;
    margin-bottom: 20px;
}
.input::placeholder{
    color: rgb(75, 75, 75);
}