.input{
    background-color: rgb(19, 24, 39);
    font-size: 14px;
    color: white;
    font-style: italic;
    border-radius: 10px;
    border: none;
    padding-left: 2.5%;
    height: 30px;
    margin-bottom: 20px;
}