.controller-menu{
    margin: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 0 15px 15px 0;
    background-color: rgb(12, 18, 20);
    color: white;
    font-family: "Lato";

    .controller-items{
        height: 75vh;
    }

    .controller-header {
        margin-top: 5vh;
        height: 20vh;
        margin-left: 20px;
    }
}
.controller-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 10%;

    img{
        border-radius: 15px;
        padding: 10px 15px 10px 15px;
        cursor: pointer;
    }
    img:hover{
        background-color: #141b2b;
    }
    img:active{
        background-color: #1f2841;
    }
}